/*
  Rui Santos
  Complete project details at https://RandomNerdTutorials.com/esp32-mpu-6050-web-server/

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files.
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
p {
    font-size: 1.2rem;
}
body {
    margin: 0;
    padding: 0;
    background: #032445;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    font-size: 1.5rem;
    position: relative;
    background: #f7c4aa;
    margin: 10px;
    padding: 10px;
    width: calc(100vw - 40px);
    height: 25px;
    border-radius: 10px;
    flex-grow: 0;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: rgb(191, 253, 251); */
    /* height: 100px; */
    /* border-radius: 10px; */

    margin: 10px;
    margin-top: 0;
    width: calc(100vw - 20px);
    flex-grow: 1;
}

.parameters-box {
    width: 35%;
    height: calc(100% - 10px);
    background-color: rgb(191, 253, 251);
    border-radius: 10px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 2;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.telemetry-data {
    width: 100%;
}

.telemetry-data .parameters {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map-box {
    flex-grow: 1;
    height: 100%;
    background-color: rgb(191, 253, 251);
    border-radius: 10px;
}
.map-box .map {
    margin: 10px;
    height: calc(100% - 20px);
}

.cluster {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.thrusters {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.thrusters h2 {
    margin-bottom: 1.3rem;
}
.barcontainer {
    background-color: #181818;
    position: relative;
    /* padding-top: 2rem; */
    margin-left: 20px;
    margin-right: 20px;
    width: 15px;
    height: 100px;
    float: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bar {
    background-color: #9bc9c7;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 50%; */
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
    transition: height 1s ease;
}

.bar.t-1::after {
    content: attr(data-value);
    position: absolute;
    bottom: -20px;
    left: -5px;
}

.bar.t-2::after {
    content: attr(data-value);
    position: absolute;
    bottom: -20px;
    left: -5px;
}

.cmd_buttons {
    margin-top: 2rem;
}
